.background {

}

.label {
   
}

.label-bright {

}

.label-header {

}

.split-pane:horizontal > .split-pane-divider {

}

.split-pane {

}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {

}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.text-field {

}

.button {

}

.button:hover {

}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color:lightgrey;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #818181;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}